<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/angular.js"></script>
</head>
<body ng-app="MyModule">
    <div ng-controller="MyController">
        root:{{count}}
        <div ng-controller="MyController">
            <button ng-click="$emit('MyEvent')">$emit</button>
            <button ng-click="$broadcast('MyEvent')">$broadcast</button>
            <br>
            middle:{{count}}
            <div ng-controller="MyController">
                leaf:{{count}}
            </div>
        </div>
    </div>
</body>
<script>
    angular.module('MyModule',[])
            .controller('MyController',function ($scope) {
                $scope.count = 0;
                $scope.$on('MyEvent',function () {
                    $scope.count++;
                })
            })
</script>
</html>